.form {
  @include flex-container;

  flex-wrap: wrap;
  gap: 12px;

  &Field {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &Input {
    height: 2rem;

    &[type="checkbox"] {
      width: 2rem;
    }
  }

  @media (max-width: 678px) {
    flex-direction: column;
    align-items: flex-start;

    &Field,
    &Input {
      width: 100%;
    }
  }
}
