.container {
  @include container;

  padding: 24px 20px;
  background-color: var(--color-bg-helper);
  overflow: auto;
}

.table {
  border-collapse: collapse;
  width: 100%;

  th {
    text-align: left;
    text-transform: capitalize;
  }

  th,
  td {
    padding: 2px 8px;
    white-space: nowrap;
  }

  &Empty {
    text-align: center;
  }
}
