*,
*::before,
*::after {
  box-sizing: border-box;
}

button,
input,
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}

:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* global vars */
  --max-width: 1280px;
  --container-width: 90%;
  --header-height: 60px;

  --color-white: #fcfcfc;
  --color-grey: #eaeef2;
  --color-grey-2: #262626;
  --color-black: #1d1d1d;

  --color-bg: var(--color-grey);
  --color-bg-helper: var(--color-white);
  --color-text: var(--color-grey-2);
  /* -- */

  color: var(--color-text);
  background-color: var(--color-bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--color-grey-2);
    --color-bg-helper: var(--color-black);
    --color-text: var(--color-white);
  }
}

body {
  margin: 0;
}
